<div class="flex justify-center gap-4">
  <h1><%= link_to "My_blog", "/" %></h1>
  <% @blog_posts.each do |item| %>
    <div class="w-1/6 mt-8">
      <h1 class="font-bold"><%= link_to item.title, "blog_posts/#{item.id}" %></h1>
      <img src="<%= item.img %>">
      <p><%= item.body %></p>
    </div>
  <% end %>
</div>